*,*::before,*::after{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    background-color: rgb(222, 45, 45);
    }



.ghost{
    background-color: white;
    margin:auto;
    position: absolute;
    top:30%;
    left:41.5%;
    width:12em;
    height: 22em;
    border-radius: 80px 80px 0 0 ;
    border-bottom: 1px solid transparent;
    animation:float 4s infinite linear;
}



.eye{
    height: 15%;
    width: 20%;
    top:20%;
    background-color: #161616;
    position: absolute;
    border-radius: 50%;
}
.eye-r{
    left:20%
}
.eye-l{
    left:65%
}

.smile{
    height: 15%;
    width: 40%;
    top:40%;
    left:32%;
    background:transparent;
    border-bottom: 10px solid black;
    position: absolute;
    border-radius: 70%;
}

.shadow{
    background-color: black;
    opacity: 30%;
    border-radius: 40%;
    width: 12em;
    height: 5vh;
    position: absolute;
    top:96%;
    left:41.5%;
    animation:shrink 4s infinite linear;
}

@keyframes shrink {
    0%{transform: scale(1,1);}
    50% {transform:scale(1,0.1);}
    100% {transform:scale(1,1);}
}

@keyframes float {
    50% {
    transform: translate(0, 40px);
    }
}